@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@section TitleSection{
    Error
}

@section ContentBody{
    <div class="container">
        <hgroup>
            <h2>Error.</h2>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </div>
}