@using WebShop.ViewModels

@model FooterViewModel

    <!-- Footer -->
<footer class="py-5 bg-dark modal-footer" style="background-color: silver;color: darkcyan;border: 1px solid gray;margin-top:2px;padding-right:10px; height:100px">
    <div class="container">
        <p class="m-0 text-center text-white">@Model.CompanyName © @Model.Year</p>
    </div>
    <!-- /.container -->
</footer>

    